.chart-bar {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 8px;
}
.chart-bar-inner {
  height: 100%;
  width: 100%;
  border: 1px solid gray;
  border-radius: 12px;
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.chart-bar-fill {
  background-color: blue;
  width: 100%;
}
.chart-bar-label {
  font-weight: bold;
  font-size: 0.5rem;
  text-align: center;
}
