body{
    background-color:gray;
}

.cardexpense-item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0.5rem;
  margin: 1rem 0;
  box-shadow: 0 2px 8px rgba(0, 0, 0.25);
  border-radius: 12px;
  background-color: #4b4b4b;
  
  }
.expense-item_description {
  display: flex;
  flex-direction: column;
gap: 1rem;
align-items: flex-end;
  /* color: white; */
  
}
.expense-item_price {
  font-size: 1.25rem;
  border: 1px solid white;
  background-color: blueviolet;
  margin-right: 10px;
  width: 75px;
  text-align: center;
}
.expense{
    border: 2px solid black;
}
