

body{
    background-color:gray;
}

.expense-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    padding: 10px;
    margin: 50px;
    height: 100px; 
    border: 2px solid white;
    border-radius: 12px;
box-shadow:0px 1px 8p red;


    
    
}
.expense-item_description{
    margin-right: 100px;

    color: white;
}
.expense-item_price{
    font-size: 1.25rem;
    border: 1px solid white;
    background-color:blueviolet;
    margin-right: 10px;
    width: 70px;
    
    
}